[submodule "Cpp/Cpp_CountdownTimer"]
	path = Cpp/Cpp_CountdownTimer
	url = https://github.com/nvbangg/Cpp_CountdownTimer.git
	update = none
[submodule "ToanRoiRac2/TRR2_BITstar"]
	path = ToanRoiRac2/TRR2_BITstar
	url = https://github.com/nvbangg/TRR2_BITstar.git
	update = none
[submodule "Python/BTL_Python"]
	path = Python/BTL_Python
	url = https://github.com/nvbangg/BTL_Python.git
[submodule "SQL/BTL_CSDL"]
	path = SQL/BTL_CSDL
	url = https://github.com/nvbangg/BTL_CSDL.git
